<section id="details-page">

    <div class="main_card">
        <div class="card_left">
            <div class="card_details">

                <h1>{{movie.title}}</h1>
                <div class="card-movie">
                    <div class="first-info">
                        <p class="card-genre">Genre: {{movie.genre}}</p>
                        <p class="card-director">Director: {{movie.director}}</p>
                    </div>
                    <div class="second-info">
                        <p class="card-year">Year: {{movie.year}}</p>
                        <p class="card-ranking">Rating: <span id="stars">&#x2605; &#x2605; &#x2605;
                                &#x2605;</span></p>
                    </div>

                </div>

                <p class="disc">Description: The youngest of King Triton's daughters, Ariel is a beautiful
                    and spirited young mermaid with a thirst for adventure. Longing to find out more about
                    the world beyond the sea, Ariel visits the surface and falls for the dashing Prince
                    Eric. Following her heart, she makes a deal with the evil sea witch, Ursula, to
                    experience life on land.</p>
            </div>
            {{#if isOwner}}
            <div class="details-btn">
                <a href="/movies/{{movie._id}}/edit" id="edit-button">Edit</a>
                <a href="/movies/{{movie._id}}/delete" id="delete-button">Delete</a>
            </div>
            {{/if}}
        </div>
        <div class="card_right">
            <img src="{{movie.imageUrl}}" alt="image">
        </div>
    </div>

    <div class="main-cast-card">
        <div class="no-cast">
            <p>There are no casts added yet...</p>
        </div>
    </div>

</section>